@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Martel+Sans:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  max-width: 100vw;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

/* Welcome Page Styling */
.welcome {
  position: relative;
  height: 80%;
  margin: 2rem;
  border-radius: 20px;
  background-color: rgb(237, 243, 245);
}
.welcome-nav {
  height: 50px;
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome-nav .logo img {
  width: 50px;
  height: 50px;
}
.welcome-nav .logo {
  display: flex;
  color: black;
  font-weight: 550;
  align-items: center;
  gap: 0.4rem;
}
.welcome-nav .logo .hamburger {
  width: 30px;
  margin-right: 1.5rem;
}
.welcome-nav .rhs-nav {
  display: flex;
  gap: 0.5rem;
}
.logo-txt1 {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
}
.home {
  margin-right: 5rem;
}
.home a {
  color: gray;
  text-decoration: none;
}
.welcome-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.welcome-page-logo {
  z-index: 10;
  margin-top: 2rem;
  width: 400px;
}
.welcome-page-txt {
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.welcome-page-txt .txt1 {
  font-family: "Poppins", sans-serif;
  font-weight: bolder;
  color: black;
  font-size: 4rem;
}
.welcome-page-txt .txt2 {
  font-family: "Poppins", sans-serif;
  width: 60%;
  font-size: 1.5rem;
  text-align: center;
}
.welcome-page-btn {
  z-index: 10;
  width: 100%;
  display: flex;
  justify-content: center;
}
.wpb {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 10rem;
}

/* Student Login Styling */
.student-login-main {
  height: 88vh;
  width: 100vw;
  padding-top: 1.5rem;
  display: flex;
  gap: 2rem;
}
.register-side {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 152, 226, 1) 0%,
    rgba(178, 247, 255, 1) 0%,
    rgba(197, 246, 252, 1) 0%,
    rgba(45, 164, 235, 1) 0%,
    rgba(193, 87, 255, 1) 100%
  );
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: start;
  gap: 8rem;
  box-shadow: 5px 5px 5px;
}
.r-side1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rs1-p1 {
  width: 80%;
  font-size: 3rem;
  font-weight: bold;
}
.rs1-p2 {
  width: 80%;
  font-size: 1.2rem;
  font-weight: 400;
}
.r-side2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.rs2-p1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 500;
}
.rs2-b1 {
  background-color: red;
  font-size: 1.4rem;
  color: white;
  padding: 1rem 3rem;
  border-radius: 10px;
}
.login-side-main {
  display: flex;
  justify-content: center;
  width: 60%;
}
.login-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  margin: 3rem;
}
.login-side h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 500;
  font-size: 4rem;
  text-shadow: 3px 3px 3px;
}
.slogin-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.login-label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 2rem;
  font-weight: 500;
}
.login-input {
  padding: 0.8rem 1rem;
  text-align: start;
  font-size: 1.5rem;
  width: 400px;
  margin-bottom: 1rem;
  background-color: rgb(230, 230, 230);
  box-shadow: 1rem 1rem 1rem;
}
.login-button {
  display: block;
  background-color: red;
  font-size: 1.4rem;
  color: white;
  padding: 1rem 3rem;
  border-radius: 10px;
  margin-top: 1rem;
}
.red-btn {
  margin-top: 1.5rem;
}
.red-btn:hover {
  background-color: rgb(240, 41, 41);
}

/* Registration form */
.registration {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(18, 152, 226, 1) 0%,
    rgba(178, 247, 255, 1) 0%,
    rgba(197, 246, 252, 1) 0%,
    rgba(45, 164, 235, 1) 0%,
    rgba(193, 87, 255, 1) 100%
  );
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.register-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
}
.register-head .heading h1 {
  color: rgb(255, 255, 255);
  font-size: 3.5rem;
  font-weight: bold;
}
.register-head .main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.register-head .main .main-head h2 {
  color: white;
  font-weight: 600;
  margin: 0;
}
.register-head .main p {
  margin-top: 0;
  font-weight: 500;
}
.register-head .profile {
  background-color: white;
  width: 230px;
  height: 230px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: gray;
}
.register-head .profile .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register-head .profile .circle label {
  text-align: center;
  width: 80%;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0 1.4rem;
}
.register-head .profile .circle input {
  width: 80%;
}
.register-main-student {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.register-main-student .forms {
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.register-main-student .forms .form1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.register-main-student .forms .form2 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.register-main-student .forms form input {
  background-color: transparent;
  padding: 0.6rem;
  width: 25vw;
  font-weight: 700;
  border: 2px solid rgb(189, 189, 189);
  color: rgb(0, 0, 0);
}
.register-main-student .forms form input::placeholder {
  color: rgb(72, 72, 72);
}
.register-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.register-footer form {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.register-footer form .checkbox {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  color: rgb(0, 0, 0);
  font-size: 0.8rem;
}
.register-footer form .checkbox input {
  width: 25px;
}
.register-footer form button {
  border-radius: 25px;
  padding: 1rem 20vw;
  font-size: 1.5rem;
  color: gray;
}
.register-footer .or p {
  margin: 0;
  font-size: 1.3rem;
}
.register-footer p {
  margin: 0;
  color: rgb(37, 37, 37);
}
.register-footer p a {
  color: white;
}

/* Test Attempt Webpage Styling */
.test-webpage {
  width: 90vw;
  margin: 5vw;
  display: flex;
  flex-direction: column;
  align-items: start;
}
.test-intro {
  display: flex;
  justify-content: space-between;
  gap: 10vw;
}
.test-time {
  width: 50vw;
  height: 350px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.test-desc {
  height: 330px;
  background-color: rgb(189, 187, 187);
  border-radius: 20px;
  padding: 5px 2vw;
}
.time-limit {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(178, 247, 255, 1) 0%,
    rgba(197, 246, 252, 1) 0%,
    rgba(45, 164, 235, 1) 0%,
    rgba(255, 135, 0, 1) 0%,
    rgba(194, 190, 196, 1) 100%
  );
  height: 70px;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  position: sticky;
}
.test-desc h2 {
  font-size: 2rem;
  font-weight: 600;
  margin: 1rem 0;
  color: rgb(41, 41, 41);
}
.test-desc p {
  margin: 0.3rem;
  font-weight: 600;
  color: rgb(0, 0, 0);
}
.time-limit p {
  color: black;
  font-weight: 600;
}
.time-limit img {
  margin: 0.7rem 0;
  width: 45px;
  height: 45px;
}
.ques-analysis {
  position: sticky;
  border-radius: 10px;
  width: 30vw;
  height: 350px;
  background-color: rgb(189, 187, 187);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.aspirant-info {
  display: flex;
  margin: 1rem;
  gap: 0.8rem;
}
.aspirant-info .profile {
  width: 80px;
}
.aspirant-info .info p{
  color: black;
  font-weight: 600;
  margin: 0;
  font-size: 0.8rem;
}
.name-year {
  display: flex;
  gap: 0.5rem;
}
#year {
  margin: 0.1rem;
  font-size: 0.6rem;
}
.ques-analysis .info-line{
  height: 2px;
  width: 100%;
  background-color: rgb(121, 121, 121);
}
.analysis {
  display: flex;
  flex-direction: column;
  margin: 0.8rem;
}
.analysis h3 {
  font-weight: bolder;
  margin: 0;
  color: black;
  font-size: 1.5rem;
}
.analysis .answered {
  display: flex;
  font-size: 0.8rem;
  font-weight: 600;
  gap: 0.9rem;
}
.answered .circle {
  background-color: rgb(83, 83, 240);
  width: 10px;
  border-radius: 50%;
  height: 10px;
  margin-top: 1rem;
}
.answered .circle2 {
  background-color: rgb(149, 149, 149);
}
.answered .line {
  height: 30px;
  margin-top: 0.4rem;
  background-color: rgb(103, 103, 103);
}
.answered p {
  margin: 0.8rem 0;
}
.analysis .boxes {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  gap: 1rem;
}
.analysis .boxes .box {
  text-align: center;
  width: 4vw;
  color: rgb(47, 47, 47);
  background-color: rgb(169, 169, 169);
}
.ques-analysis button {
  background-color: rgb(10, 188, 10);
  color: rgb(235, 235, 235);
  font-size: 1.3rem;
  padding: 1rem ;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.questions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 2rem 0;
  width: 50vw;
}
.ques-type1 {
  width: 100%;
  background-color: rgb(189, 187, 187);
  height: 270px;
  border-radius: 10px;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
.ques-type1 p{
  font-size: 1rem;
  margin: 0;
}
.ques-type1 .option {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;
}
.ques-type1 .option .input {
  background-color: rgb(249, 248, 248);
  padding: 0.1rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
}
.ques-type2 {
  width: 100%;
  background-color: rgb(189, 187, 187);
  height: 270px;
  border-radius: 10px;
  color: black;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
.ques-type2 p{
  font-size: 1rem;
  margin: 0;
}
.ques-type2 .answer textarea{
  width: 100%;
  margin-top: 1rem;
  height: 150px;
}

/* Test section student */

.test-header {
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
}
.test-header .test h2 {
  font-weight: bold;
  color: black;
  font-size: 3rem;
  letter-spacing: 0.1rem;
}
.test-header .test {
  display: flex;
  gap: 1rem;
}
.test-header .test p {
  color: black;
  font-size: 1.4rem;
  margin: 1.4rem 0;
}
.test-line {
  width: 100vw;
  height: 1px;
  background-color: rgb(184, 184, 184);
}
.test-main {
  display: flex;
  flex-direction: column;
  margin: 1rem 5vw;
  gap: 0.5rem;
}
.test-main-head {
  display: flex;
  gap: 2rem;
}
.test-main-head h3 {
  font-size: 1.9rem;
  width: 40%;
  font-weight: bold;
}
.test-main-head .line{
  background-color: gray;
  width: 100%;
  height: 1px;
  margin-top: 1.5rem;
}
.test-main .cards {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.test-card {
  background-color: rgb(229, 229, 229);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 0 2rem;
  border-radius: 10px;
}
.test-card .card {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.test-card .card .head {
  display: flex;
  gap: 3rem;
}
.test-card .card .head h4{
  font-weight: 800;
  font-size: 1.4rem;
  margin: 0;
}
.test-card .card .head p{
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
}
.test-card .card .main {
  display: flex;
  gap: 3rem;
  margin: 0;
}
.test-card .card .main p{
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  margin: 1rem 0;
}
.test-card .card .foot {
  display: flex;
  gap: 3rem;
}
.test-card .card .foot p{
  font-size: 1.2rem;
  margin: 0;
  color: black;
  font-weight: 500;
}
.main-line {
  width: 100%;
  background-color: rgb(193, 193, 193);
  height: 1px;
}
.test-footer {
  text-align: center;
  font-size: 1.4rem;
}